<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>ESSWEB</display-name>
	<servlet>
		<servlet-name>Datatoxml</servlet-name>
		<display-name>Datatoxml</display-name>
		<servlet-class>com.service.addition.Datatoxml</servlet-class>
	</servlet>
      <servlet>
         <servlet-name>AllQuery</servlet-name>
         <display-name>All Query</display-name>
         <servlet-class>com.service.addition.SelfService</servlet-class>
      </servlet>
      <servlet>
         <servlet-name>LoginUser</servlet-name>
         <description>Login</description>
         <servlet-class>com.service.addition.login</servlet-class>
      </servlet>
      <servlet>
      	<servlet-name>SelfServiceUpdate</servlet-name>
      	<display-name>SelfServiceUpdate</display-name>
      	<servlet-class>com.service.addition.SelfServiceUpdate</servlet-class>
      </servlet>
      <servlet>
      	<servlet-name>CompanyInfo</servlet-name>
      	<display-name>CompanyInfo</display-name>
      	<servlet-class>com.service.addition.CompanyInfo</servlet-class>
      </servlet>
      <servlet>
      	<servlet-name>LinkSub</servlet-name>
      	<display-name>LinkSub</display-name>
      	<servlet-class>com.service.addition.LinkSub</servlet-class>
      </servlet>
      <servlet>
      	<servlet-name>ViewRequest</servlet-name>
      	<display-name>ViewRequest</display-name>
      	<servlet-class>com.service.addition.ViewRequest</servlet-class>
      </servlet>
      <servlet-mapping>
         <servlet-name>LoginUser</servlet-name>
         <url-pattern>/loginUser</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
         <servlet-name>AllQuery</servlet-name>
         <url-pattern>/Query</url-pattern>
      </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Datatoxml</servlet-name>
		<url-pattern>/Copydata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelfServiceUpdate</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyInfo</servlet-name>
		<url-pattern>CompanyInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LinkSub</servlet-name>
		<url-pattern>LinkSub</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRequest</servlet-name>
		<url-pattern>ViewRequest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>login.htm</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/TitleContent</taglib-uri>
		<taglib-location>/WEB-INF/tlds/TitleContent.tld</taglib-location>
	</taglib>
</web-app>
